modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8364532299:AAF72l_tldHVNgWKWM87i42HsVjK0JV5IaQ"
TELEGRAM_CHAT_ID = "1384026800"
